body {
	font-family: 'Open Sans', sans-serif;
	background: #eee;
}

.main-content {
	width: 60%;
	margin: auto;
}

.selection {
	font-size: 18px;
	text-align: center;
	color: #888;
}

.selection .select-option-wrapper {
	display: inline-block;
}

.selection .selectable-option {
	display: inline-block;
	padding: 12px;
}

.selection .selectable-option:hover {
	cursor: pointer;
	color: #cc0000;
}

.selection .selectable-option.selected {
	color: #b30000;
}

.selection .selectable-option.nested-option {
	display: inline-block;
	color: #888;
	padding: 0px 12px;
}

.selection .selectable-option.nested-option.hidden {
	display: none;
}

.selection .selectable-option.nested-option:first-child {
	padding-left: 24px;
}

.selection .selectable-option.nested-option:hover {
	color: #cc0000;
}

.selection .selectable-option.nested-option.selected {
	color: #b30000;
}

.work-area {
	font-size: 28px;
	line-height: 30px;
	text-align: center;
	padding: 36px;
	color: #222;
}

.work-area .suggestion {
	font-size: 16px;
}

.work-area .suggestion.faded {
	color: #888;
}

.work-area .answer {
	display: inline-block;
	text-align: center;
	height: 30px;
	min-width: 18px;
	outline: none;
}

.work-area .answer:empty:not(:focus) {
	height: 29px;
	border-bottom: 1px solid #222;
}

.work-area .question {
	display: inline-block;
}